<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/default_layout" lang="en">
<th:block layout:fragment="content">
  <h1>Your Orders</h1>
  <table>
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Products Count</th>
      <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <!-- 반복문을 사용하여 리스트를 순회하고 각 항목을 표시 -->
    <tr th:each="order : ${orders}">
      <td th:text="${order.id}"></td>
      <td>
        <ul>
          <!-- OrderResponseDto 내부의 orderProductList를 반복하고 표시 -->
          <li th:each="product : ${order.orderProductList}">
            <span th:text="${product.title}"></span> <!-- OrderProductResponseDto의 필드 사용 -->
            <span th:text="${product.count}"></span>
            <span th:text="${product.price}"></span>
          </li>
        </ul>
      </td>
      <td th:text="${order.totalPrice}"></td>
    </tr>
    </tbody>
  </table>
</th:block>
</html>